<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <title>help</title>-->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>-->
<!--     <style type="text/css">-->
<!--  body{-->


<!--  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR-3uOlfUuJGrthHNu8yPzJnzBXas0SLOA1pw&usqp=CAU');-->
<!--   background-repeat: no-repeat;-->
<!--   background-attachment: fixed;-->
<!--  background-size: cover;-->
<!--}-->

<!--    </style>-->
<!--</head>-->
<!--<body>-->
{% extends 'basic.html'%}
{% block content %}
<form action="">
    <br>
    <br>
<h1 style="text-align: center;color: red">{{ result}}</h1>
<!--<h1 style="text-align: center;color: red">{{ dr}}</h1>-->
<h1 style="text-align: center;color: red">{{ r}}</h1>
<h1 style="text-align: center;color: red">{{ s}}</h1>

<center> <h1 align="center"> <button class="btn btn-secondary">
           <a href="/">Got it!</a></button></h1></center>
</form>
{% endblock %}
<!--</body>-->
<!--</html>-->